{% load i18n %}

<div class="container" style="padding-top: 100px">
    <div class="row align-items-center">
        <div class="col-sm-7 col-xs-12 pr-0">
            <img src="/static/img/home2/how-we-works.png" alt="In A Box" width="90%">
        </div>
        <div class="section-title col-sm-5 col-xs-12">
            <h1 class="title text-uppercase">{% trans 'MADE ONLINE FOR' %}</h1>
            <h6 class="intro text-uppercase">{% trans 'your comfort' %}</h6>
            <p class="mt-3">{% trans 'For a full experience, once you have confirmed and paid the online diagnosis form, we make sure that your device is securely picked up from your place to our Repair lab. As interaction and communication are keys to a good relationship, you will be updated frequently, directly on your profile dashboard space for each step of the repair.' %}</p>
        </div>
    </div>
</div>
<div class="h2-what-we-area">
    <div class="h2-what-we-banner"><img src="/static/img/home2/about_us.png" alt="In A Box"
                                        width="90%"></div>
    <div class="h2-what-we-bg1"><img src="/static/img/home2/what-we-bg-1.png" alt="In A box background"></div>
    <div class="container" id="about_us">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8">
                <div class="h2-about-section-title section-title">
                    <br><br>
                    <h2 class="title">{% trans 'ABOUT US' %}</h2>
                    <h6 class="intro">{% trans 'DIAGNOSTIC & REPAIR ON DEMAND' %}</h6>
                </div>
                <div class="service-box-3">
                    <div class="icon">
                        <span class="color-1 flaticon-arrow-pointing-to-right"></span>
                    </div>
                    <div class="content">
                        <h2 class="title">{% trans 'Who are we?' %}</h2>
                        <p class="text">{% trans 'In A Box is the leader in online devices diagnosis and electronics repair service in Bulgaria, Greece and Cyprus from your smartphone to your tablet, your laptop or your desktop computer, no matter the brand Apple, Samsung Galaxy, Xiaomi, LG, Blackberry, Huawei, ios or android.' %}</p>
                    </div>
                </div>
                <div class="service-box-3">
                    <div class="icon">
                        <span class="color-2 flaticon-arrow-pointing-to-right"></span>
                    </div>
                    <div class="content">
                        <h2 class="title">{% trans 'How it works' %}</h2>
                        <p class="text">{% trans 'Everything is done online and designed to make your life easier. Fixing your devices without leaving the comfort your home. Our goal is to meet our client’s expectations and bring comfort to everyone’s life. This is why our labs bring together the most qualified and proficient technical experts to meet your expectation at its best, with first a complete technical diagnosis of your device before your repair confirmation.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 d-flex align-items flex-column">
            </div>
        </div>
    </div>
</div>