{% load i18n %}

<div class="support-area" id="contact_us">
    <div class="support-area-bg"></div>
    <div class="support-area-bg-2"></div>
    <div class="support-banner-2"></div>
    <div class="support-banner"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="support-contents section-title">
                    <h6 class="intro">{% trans 'HELP &amp; SUPPORT' %}</h6>
                    <h2 class="title">{% trans 'Contact us' %}</h2>
                    <h2 class="sc-info">{% trans 'Start a chat session now with our support team for all your questions' %}</h2>
                    <button class="start_chat custom-radius open-zammad-chat">{% trans 'Start a chat' %}</button>
                    <p class="text mt-3">
                        <a href="https://www.facebook.com/inabox.pro/" target="_blank" class="contact-social">
                            <i class="fab fa-facebook-f fa-3x mr-5"></i>
                        </a>
                        <a href="https://m.me/inabox.pro/" target="_blank" class="contact-social">
                            <i class="fab fa-facebook-messenger fa-3x mr-5"></i>
                        </a>
                        <a href="#" target="_blank" class="contact-social">
                            <i class="fab fa-linkedin fa-3x mr-5"></i>
                        </a>
                        <a href="#" target="_blank" class="contact-social">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
                    </p>
                    <p class="call"><span class="flaticon-technology"></span>{% trans 'Call Us' %}:</p>
                    <div class="contact-numbers">
                        <a class="call mb-0 mt-0" href="tel:01-251-259-0045">BG: 01-251-259-0045,</a>
                        <a class="call m-0" href="tel:01-251-259-0045">GR: 01-251-259-0045,</a>
                        <a class="call m-0" href="tel:01-251-259-0045">CY: 01-251-259-0045</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>