{% extends 'base/base.html' %}
{% load i18n %}

{% block title %} {% trans 'In a box - Terms and conditions' %} {% endblock %}
{% block content %}

<div class="container mb-5 mt-5 privacy-policy">
    <div class="row justify-content-center mt-5 mb-5">
        <h1>{% trans 'GENERAL TERMS AND CONDITIONS' %}</h1>
    </div>
    <div class="row">
        <p>
            {% trans 'General Terms and Conditions, Personal Data Policy, Cookie Information, and Declaration of Responsibility for Using the Services of www.techiteasy.biz, www.remotedesktop.biz and www.inabox.pro.' %}
        </p><br>
        <p>
            {% trans 'Please, read carefully these Terms and Conditions before using the websites listed. If the said websites are being used by you, it shall be deemed that you have accepted and agreed to the Terms and Conditions.' %}
        </p><br>
        <p>
            {% trans 'The present GENERAL TERMS AND CONDITIONS shall regulate the relationship established between Tech It Easy OOD (hereinafter referred to as "techiteasy.biz", the “Internet Page” or the “Site”), along with the sites related to it (remotedesktop.biz and inabox.pro), and the Users of electronic (Internet) pages and services found on the techiteasy.biz domain and its subdomains - remotedesktop.biz and inabox.pro (hereinafter referred to as the "Site" or the “Sites”). The Terms and Conditions shall also govern Users’ utilization of information and trade services offered by Tech It Easy OOD (hereinafter referred to as the “Services”).' %}
        </p><br>
        <p>
            {% trans 'These Terms and Conditions shall be binding on all Users. By clicking on any object, link or button located on the pages of techiteasy.biz, remotedesktop.biz and inabox.pro (except for the link to the General Terms and Conditions), the User shall agree, fully accept and commit himself/herself to comply with the present GENERAL TERMS AND CONDITIONS.' %}
        </p><br>
        <p>
            {% trans 'Tech It Easy OOD is a company registered under the Commercial Act of the Republic of Bulgaria, with the following registered office and management address: Razgrad 7200, 1 Tsar Simeon I Street, entrance A, floor 2, apartment 4, UIC: .....' %}
        </p><br>
    </div>
    <h3 class="text-center">{% trans '1. What does techiteasy.biz and its related sites, remotedesktop.biz и inabox.pro, have to offer' %}</h3>
    <p>{% trans 'a. Based on the information and services available on techiteasy.biz, remotedesktop.biz и inabox.pro, the sites provide the Users, both individuals and legal entities with personal or professional needs (including , Users involved in small, medium or large businesses), with one-time assistance, opinion, repair and technical support for their computer systems through the services offered on the site.' %}</p>
    <p>
        {% trans 'b. Remotedesktop.biz offers the following services to its Users:' %}<br>
        {% trans '- remote desktop basic;' %}<br>
        {% trans '- remote desktop security;' %}<br>
        {% trans '- professional VPN services;' %}<br>
        {% trans '- remote monitoring services basic;' %}<br>
        {% trans '- remote monitoring services with security; - remote IT support;' %}<br>
        {% trans '- Security IT services;' %}<br>
        {% trans '- Custom web services' %}<br>
    </p>
    <p>{% trans 'c. Inabox.biz provides the Users with services, including one-time assistance, opinion, repair or technical support for their computer systems.' %}</p><br>
    <h3 class="text-center">{% trans '2. Terms and conditions for the use of techiteasy.biz and its related sites, remotedesktop.biz и inabox.pro' %}</h3>
    <p>{% trans 'The User is aware of and accepts the fact that the information and services available on the aforementioned sites shall be provided "in the form in which they are", and neither techiteasy.biz, nor any of its related sites - remotedesktop.biz and inabox.pro - shall assume any responsibility for the timeliness, deletion and inability to deliver information about the User’s finished orders, his/her or other Users’ opinions and assessments of services, lost profits and other damages that have occurred in the aftermath, as a result of or due to the use of these sites (or because of the sites’ inaccessibility due to technical problems, prophylaxis, administrator’s decisions, etc.). Should the use of these sites or any of their materials result in damages requiring repair or upgrading of any equipment or information, the User shall be held fully responsible and shall bear all the costs associated with the elimination of the damages inflicted.' %}</p>
    <p>
        {% trans 'In order for the User to operate the sites referred to hereinabove, he/she will have to access the World Wide Web, either directly or through other devices having access to Web-based content. Furthermore, the User shall secure the entire equipment needed for access to the World Wide Web, including computer /desktop or portable/, modem or other means enabling access to the Internet. Techiteasy.biz is only responsible for providing information on the sites and shall not be held liable for any interference or technical problems preventing the sites from being used due to the operation of User’s computer equipment.' %}
    </p><br>
    <h3 class="text-center">{% trans '3. Characteristics of the services offered' %}</h3>
    <p>{% trans '3.1. Remotedesktop.biz provides the following services:' %}
    </p>
    <p>

        {% trans '3.1.1. /Remote desktop basic/ covering the essential needs of a remote desktop/virtual office powered by a fully autonomous server, without the cost of deploying a special hardware;' %}
    </p>
    <p>
        {% trans '3.1.2. /Remote desktop security/ providing the Users with enhanced security, capabilities, maintenance, and auxiliary tools for their remote desktop/virtual office and creating service reliability by developing multiple layers of network security.' %}
    </p>
    <p>
       {% trans ' 3.1.3. /Professional VPN services/ offering protection, coordination and assistance in terms of Users’ professional digital fingerprint.' %}
    </p>
    <p>
        {% trans '3.1.4. /Remote monitoring services basic/ - a real-time service that takes care of the sterile and safe environment in which the Users’ devices are operated.' %}
    </p>
    <p>
        {% trans '3.1.5. /Remote monitoring services with security/ - the service referred to in item 3.1.4 hereinabove, plus assisting the Users in the timely and objective obtaining of information about the status of their remote desktop/virtual office.' %}
    </p>
    <p>
        {% trans '3.1.6. /Remote IT support/ - a service related to remote maintenance in the area of Information Technologies (IT), meant for Users with start-up businesses who require remote help and support in the handling of common issues, thus eliminating the need of establishing physical contact with a qualified employee upon the occurrence of a certain problem that does not necessitate the equipment to be physically inspected.' %}
    </p>
    <p>
        {% trans '3.1.7. /Security services/ - a service that protects the Users’ endeavors and offers a number of security methods, depending on the threat against the Users’ systems.' %}
    </p>
    <p>
        {% trans '3.1.8. /Custom web services/ - a set of different services which support the growth and optimization of the User’s business, with some of them being directly related to the digital set of Users and the personal development of software and programs for Users’ customized businesses.' %}
    </p>
    <p>
        {% trans '3.2. Inabox.biz offers the following services:' %}
    </p>
    <p>
        {% trans '3.2.1. Diagnostics: Software and/or hardware analysis, and/or system analysis and diagnosis of existing and potential problems, improvements, use and impact.' %}
    </p>
    <p>
        {% trans '3.2.2. Repair: Computer repair is defined as the process of identifying, troubleshooting and resolving problems and errors in damaged hardware. The repairing of equipment (desktop computer, laptop or mobile device) is a complex activity involving many tools, techniques and procedures used in the overhaul of hardware and software and the elimination of network/Internet issues.' %}
    </p>
    <p>
        {% trans '3.2.3. Installation: Assembling, wiring, settings and configuration of equipment provided by the User and operated by him/her in a single building at a certain location.' %}
    </p><br>
    <h3 class="text-center">{% trans '4. Prices and terms of payment' %}</h3>
    <p>
        {% trans '4.1. Prices: The price of each service/work is indicated on the techiteasy.bg website and/or its related sites - inabox.pro и remotedesktop.biz, or it shall be determined upon the conclusion of an individual contract with the User, depending on the service selected by him/her.' %}
        <br>
        {% trans 'The prices stated on the aforementioned sites may be amended without a warning or an advance notice been given to the User, but this shall not be applicable to those prices that have already been explicitly negotiated in the contracts concluded with the Users /such prices shall be subject to modification as long as both parties have agreed on that/.' %}
    </p>
    <p>
        {% trans '4.2. Payment terms: Users’ payment terms for the services offered by remotedesktop.biz shall be individually agreed in the contracts signed by the parties and shall depend on the services rendered to the Users.<br>The prices of the services employed by the Users of inabox.pro must be fully paid when filling in an application form containing a description of the desired service. If following the inspection of a device the Diagnostic Center has detected a problem, the User shall receive an explanation of this problem and the cost of repair. The User shall then be given the opportunity to reply, within 7 days, whether he/she wants the device to be repaired or returned to him/her in the form and condition in which it was received after the performance of diagnostics.' %}
    </p><br>
    <h3 class="text-center">{% trans '5. Provision of services' %}</h3>
    <p><strong>{% trans 'Users shall have the right to employ the services offered on the websites techiteasy.biz, remotedesktop.biz and inabox.pro in good faith, as intended, according to these General Terms and Conditions, and within the current subscription plan /if applicable/.' %}</strong></p>
    <p>
        {% trans '5.1. The services used by the Users of remotedesktop.biz shall be rendered to them provided we have been contacted in advance or after the site’s Users have submitted a request, following which all the terms and characteristics of the requested service shall be individually negotiated with the respective User.' %}
    </p>
    <p>{% trans '5.1.1. The contract for the provision of the respective service shall be terminated:' %}<br>
    </p>
    <ul>
        <li>{% trans 'upon the expiry of the contract’s term according to the period of the subscription plan selected by the User;' %}
        </li>
        <li>
            {% trans 'upon one of the contractual parties being dissolved, declared as winded-up or declared bankrupt; • by parties’ mutual consent expressed in writing;' %}
        </li>
        <li>
            {% trans 'in the case of either contractual party being objectively impeded to perform on its duties; • following state authorities’ seizure or sealing of equipment;' %}
        </li>
        <li>
            {% trans 'by an unilateral statement issued by Tech It Easy OOD, including in electronic format, if at least one of the following hypotheses is present:' %}
            <ul>
                <li>{% trans 'The User has published and distributed or has otherwise made available data, messages, text, computer files or other materials, which contradict the Bulgarian legislation, the applicable foreign laws, the present Terms and Conditions, the Internet ethics or the good manners, and which also infringe on third parties’ rights such as:' %}
                    <br>
                    {% trans 'Copyrights or related rights, trademarks, patents or other intellectual property rights, proprietary rights, other material or immaterial rights, or third parties’ legitimate interests; Any confidential information containing business, official, personal or other secrets;' %}
                </li>
                <li>
                    {% trans 'The User has published and distributed or has otherwise provided software or other computer files containing viruses or other risk programs and their components.' %}
                </li>
                <li>
                    {% trans 'The User has published or transferred pornographic or illegal materials.' %}
                </li>
                <li>
                    {% trans 'The User has published data, messages, text, computer files or other materials, which contain threats to the human life and physical integrity, promote discrimination and terrorism, preach fascist, racist or other anti-democratic ideology, whose contents violate the human rights or freedoms granted by the Constitution and the laws of the Republic of Bulgaria or any international acts, and which also call for a violent change of the constitutionally established order, the commitment of crime, etc.' %}
                </li>
                <li>
                    {% trans 'User’s complete or partial assignment or resale to third parties of the services and server resources, including through functions enabling the adding of supplementary domains.' %}
                </li>
            </ul>
        </li>
        <li>
            {% trans 'At his/her own discretion, without giving any advance notice and without owing any compensation, the User shall be entitled to unilaterally terminate the contract should he/she find out that the services provided are being used in violation of these General Terms and Conditions, the policies, the legislation of the Republic of Bulgaria, the generally accepted moral norms or the generally accepted rules applicable to the services offered.' %}
        </li>
    </ul>
    <p>{% trans '5.2. The services offered by inabox.pro shall be carried out as soon as the User has completed an on-site request in which he shall specify his/her user name/password/access information and his/her own description of the problem, thus providing data necessary for the performance of diagnostics or repair, and provided he/she has agreed to follow the respective instructions. The User shall receive a box in which he/she shall pack the device subject to diagnostics or repair, and the said box, containing the diagnosed or repaired device, shall at the end be returned to the User.' %}</p>
    <p>
        {% trans '5.2.1. The computer system of the device submitted for diagnostics or repair must be equipped with Microsoft Windows 98, or higher operating system, or with Apple OS X 10.5, or higher operating system. In the absence of such systems, our engineer will try to perform the required service, but since the older versions of Microsoft and Apple operating systems are not supported by their respective companies, the Users shall agree that the chance of a successful outcome might be limited. If any software is or appears to be unlicensed, and cannot be activated in accordance with the procedure of its merchant, the repair work may be suspended until the User purchases through us a valid software license.' %}
    </p><br>
    <h3 class="text-center">{% trans '6. User’s duties upon registration' %}
    </h3>
    <p>{% trans 'By using the sites techiteasy.biz, remotedesktop.biz and inabox.pro, the User agrees to:' %}
    </p>
    <ul>
        <li> {% trans 'provide true, accurate, updated and complete information about himself/herself when filling in the registration form (the said information hereinafter referred to as Personal Data);' %}
        </li>
        <li>{% trans 'make, if necessary, changes to the Personal Data in view of its accuracy, precision, timeliness and completeness.' %}
        </li>
    </ul>
    <br>
    <p>{% trans 'Where the User has provided untrue, inaccurate, outdated or incomplete information, either techiteasy.biz or its related sites shall have the right to close and/or delete any information about the User’s electronic address (e mail) and deny him/her further access to some or all of the services.' %}</p>
    <p>{% trans 'In order to secure and protect the privacy of its Users, techiteasy.biz and its related sites shall notify the parents that the materials and services found on the websites have been made available to a very large audience and that the parents are responsible to determine which services and materials may be appropriately used by their children.' %}</p><br>
    <h3 class="text-center">{% trans '7. Protection of personal data. Confidential Policy of techiteasy.biz and its related sites - remotedesktop.biz and inabox.pro' %}</h3>
    <ul>
        <li>{% trans 'Pursuant to the Personal Data Protection Act, the User shall have the right to access and correct his/her own Personal Data, which he/she has uploaded or which techiteasy.biz and its related sites have become aware of as a result of User’s operation with these sites.' %}
        </li>
        <li>{% trans 'By accepting the present Terms and Conditions, the Users, who have registered an username and a password, explicitly agree that the Personal Data submitted by them (including their selected username and password) shall be electronically processed by techiteasy.biz and the other sites with regard to the services used, and should there be need of any help, this Personal Data shall be processed by an employee of techiteasy.biz and its related sites.' %}
        </li>
        <li>{% trans 'All Personal Data and other information voluntarily provided by the User, which identifies him/her in the process of using the sites, shall be stored, processed and employed by techiteasy.biz or the other sites with the aim of supporting certain functionalities of the services provided and in order to promote the goods and services offered by techiteasy.biz, remotedesktop.biz and inabox.pro' %}
        </li>
        <li>{% trans 'Techiteasy.biz, remotedesktop.biz и inabox.pro shall explicitly notify the User that the Personal Data submitted by him/her shall not be transferred to any third party for advertising and promotional goals.' %}
        </li>
        <li>{% trans 'Techiteasy.biz and its related sites shall have the right to use the IP addresses and other data of the Users in order to reveal their identities in cases requiring observance of the law and the judicial procedures, or where the present Terms and Conditions need to be complied with.' %}<br>
            {% trans 'Tech It Easy OOD recognizes the crucial importance of its customers’ and partners’ confidentiality, security and protection of Personal Data. We strive to ensure the protection of all our activities by introducing strict and consistent policies and rules.' %}
        </li>
    </ul><br>
    <h4>{% trans '7.1. General provisions' %}</h4>
    <p>{% trans 'This Privacy Statement describes how Tech It Easy OOD, in its capacity as a personal data controller and in terms of the services offered by it, shall collect, process, store and provide personal information to the visitors of Tech It Easy OOD websites.' %}</p>
    <p>{% trans 'The present Privacy Statement contains information on the confidential policies and practices implemented by Tech It Easy OOD during the collection, processing, storage and provision of Personal Data, and it also specifies what choice you could make about the way your Personal Data shall be collected and used, including information collected through your online activity and data submitted to Tech It Easy OOD with respect to the services employed.' %}</p>
    <p>{% trans 'The Privacy Statement shall not apply to third party applications, products, services, websites or social media, which can be accessed through links provided by the services available on techiteasy.biz and the other sites for your convenience and information. Before allowing the collection and use of your Personal Data, we suggest that you get acquainted with the privacy policy of each site accessed by you.' %}</p>
    <br>
    <h4>{% trans '7.2. Your consent' %}</h4>
    <p>{% trans 'This Privacy Statement is part of the General Terms and Conditions applicable to the use of techiteasy.biz andthe other two sites. By using techiteasy.biz and its related sites, you consent to the collection, processing, storage and provision of your Personal Data in accordance with the present Privacy Statement.' %}
    </p><br>
    <h4>{% trans '7.3. Definitions' %}</h4>
    <p>{% trans 'Personal Data means any information related to an individual or a corporation that can be directly or indirectly identified based on this information, especially by identifiers such as name, identification number, location data, online identifier, and by one or more of these features, which are specific to the physical, mental, intellectual, economic or cultural identity of the respective person.' %}</p>
    <p>{% trans 'Data subject is a natural person who has been or can be identified based on particular information.' %}</p><br>
    <h4>{% trans '7.4. Personal Data collected through techiteasy.biz and its related sites' %}</h4>
    <p>{% trans 'Techiteasy.biz and its related sites shall collect your Personal Data by adhering to the principle of legality and transparency. We take reasonable steps to ensure that the Personal Data shall be accurate, complete and up-to date. Techiteasy.biz, remotedesktop.biz and inabox.pro shall collect the following Personal Data submitted by you while using the aforementioned sites:' %}</p>
    <ul>
        <li>{% trans 'name' %}</li>
        <li>{% trans 'address' %}</li>
        <li>{% trans 'telephone number' %}</li>
        <li>{% trans 'e-mail' %}</li>
    </ul>
    <p>{% trans 'Personal Data collected from legal entities:' %}</p>
    <ul>
        <li>{% trans 'name' %}</li>
        <li>{% trans 'address' %}</li>
        <li>{% trans 'telephone number' %}</li>
        <li>{% trans 'e-mail' %}</li>
        <li>{% trans 'address registration' %}</li>
        <li>{% trans 'UIC' %}</li>
        <li>{% trans 'BULSTAT' %}</li>
        <li>{% trans 'VAT identification number' %}</li>
    </ul>
    <p>{% trans 'Techiteasy.biz and its related sites shall not collect “sensitive” Personal Data that reveals racial or ethnic origin; political, religious or philosophical beliefs; membership in political parties, organizations or associations for religious, philosophical, political or trade union purposes; as well as Personal Data related to the individual’s health or sex life.' %}</p><br>
    <h4>{% trans '7.5. Right to change Personal Data' %}</h4>
    <p>{% trans 'Users shall have the right to choose what type of Personal Data shall be collected by us and for what purposes it shall be collected and processed. We shall provide you with a reasonable access and the possibility for you to review, correct, supplement or delete the Personal Data that you have shared with us.</p><br>
    <h4>{% trans '7.6. Purposes for which we shall use your Personal Data' %}</h4>
    <p>{% trans 'Techiteasy.biz, remotedesktop.biz and inabox.pro shall employ Users’ Personal Data only for the purposes specified at the time of collection and after the obtaining of Users’ explicit consent, or for additional and compatible purposes in line with the law.' %}</p>
    <p>{% trans 'The aforementioned sites shall collect and process Personal Data for the following purposes' %}</p>
    <ul>
        <li>{% trans 'to respond to Users’ inquiries;' %}</li>
        <li>{% trans 'to provide products, information and services requested by the Users;' %}</li>
        <li>{% trans 'to improve the quality of our services;' %}</li>
        <li>{% trans 'to get in touch with the Users so as to provide them with special offers and information, which in our opinion they might be interested in;' %}
        </li>
        <li>{% trans 'to offer the Users useful advice, information and updates;' %}</li>
        <li>{% trans 'to provide the Users with information about the use of the sites referred to hereinabove;' %}</li>
        <li>{% trans 'to enable us to improve the contents and functionality of the said sites; to seek Users’ opinion about our products and services;' %}
        <li> {% trans 'to seek Users’ opinion about our products and services;' %}</li>
        <li>{% trans 'to accomplish the goals of our marketing and advertising activities;' %}</li>
        <li>{% trans 'for any other purpose consistent with the present Privacy Statement, or for a purpose that has been individually agreed on with the User.' %}
        </li>
    </ul><br>
    <h4>{% trans '7.7. Policies and practices on the protection of Personal Data' %}</h4>
    <p>{% trans 'To protect the Personal Data from being used by unauthorized persons and in order to prevent its disclosure, modification or destruction, in our activity we shall implement strict standards for technological and operational security. Tech It Easy OOD shall take legal and technical measures to secure the Users’ Personal Data in accordance with the Personal Data Protection Regulation.' %}</p><br>
    <h4>{% trans '7.8. Personal Data storage periods' %}</h4>
    <p>{% trans 'Techiteasy.biz and its related sites shall store the Users’ Personal Data as long as this is required by the services used and any eventual additional activities.' %}
    </p><br>
    <h4>{% trans '7.9. Personal Data made available to third parties' %}</h4>
    <p>{% trans 'Techiteasy.biz and its related sites shall have the right to disclose the Users’ personal information if required to do so by the law or in response to law enforcement authorities conducting a criminal or an administrative investigation.' %}</p>
    <p>{% trans 'Techiteasy.biz and its related sites shall provide personal data (name, telephone number, delivery address) to courier companies making deliveries associated with the services employed by the Users.' %}
    </p><br>
    <h4>{% trans '7.10. Protecting the privacy of children and minors' %}</h4>
    <p>{% trans 'We know how important it is to protect the privacy of children and minors in the interactive online world. Techiteasy.biz and the sites associated with it are not meant for or intentionally targeted at children under the age of 18. We don’t have a policy for the deliberate collection and storage of information pertaining to persons younger than 18 years old.' %}</p><br>
    <h4>{% trans '7.11. Possible changes to this Privacy Policy' %}</h4>
    <p>{% trans 'Changes in the law, as well as any modifications in the way Users’ Personal Data is being collected and used, could prompt Tech It Easy OOD to amend the present Privacy Statement. If any changes have been made by us, they shall be included in the Privacy Statement, and the date on which these changes have been introduced shall be stated at the beginning of the document. Therefore, the Users will have to review the Privacy Statement and stay informed about the current practices. Where the Users have used the sites after the changes’ effective date, it shall be assumed that they had agreed with all the amendments in the Privacy Statement. In the event of the Users not consenting to some of the amendments, they shall stop using the sites.' %}</p><br>
    <h4>{% trans '7.12. Getting in touch with us' %}</h4>
    <p>{% trans 'Should the Users have any questions on the Privacy Statement and the collection/processing of their Personal Data during the provision of services offered by techiteasy.biz and its related sites, they shall contact us through these sites.' %}</p><br>
    <h3 class="text-center">{% trans '8. Ownership. Copyrights and restrictions related thereto' %}</h3>
    <p>{% trans 'Title on any goods, software, parts, services or service generated results belongs to Tech It Easy and may be transferred upon the receipt of all payments (specified funds).' %}</p>
    <p>{% trans 'Tech It Easy shall grant the Users the right to use all the services made available on the sites only for personal needs and non-commercial purposes, and as long as there is no violation of the copyrights possessed by Tech It Easy or third parties, directly or indirectly related to the materials found on the sites. The materials uploaded on the sites cannot be changed in any way, nor can they be copied, publicly distributed or handed over for any social or commercial purposes. Materials published on these Internet sites are prohibited from being used and published on other websites. 7.10. Protecting the privacy of children and minors The materials on these sites are protected by the Copyright and its Related Rights Act, and therefore, any unauthorized use may be regarded as an infringement on copyrights, trademark rights or other legal provisions.' %}</p>
    <p>{% trans 'Tech It Easy shall be entitled to assign to third parties the rights to publish materials and any parts of the information contained on the site, provided an additional written contract, governing the rights and obligations of Tech It Easy and the person who has published the information, had been concluded. When purchasing a product subject to copyrights and/or patent rights, Tech It Easy shall grant no additional rights for use and distribution, except for the explicitly mentioned rights and/or licenses issued by the product’s manufacturer or distributor.' %}</p>
    <p>{% trans 'The available Software, accessible through links published on these sites, is protected by copyright and belongs to the respective manufacturers and/or their distributors and partners. Before using the software, please read the terms of use defined by its owners.' %}</p>
    <p>{% trans 'All goods and services offered by Tech It Easy are protected by the Copyright and its Related Rights Act, and are available in their original form and media.' %}</p><br>
    <h3 class="text-center">{% trans '9. Warranties' %}</h3>
    <p>{% trans 'Unless recorded in the field of exceptions, each hardware shall have a 6-month warranty as of the date of its delivery. This shall only be applicable to components supplied by Tech It Easy, otherwise the warranties shall be revoked, if the product is not as the one sold but has been modified by the User or a third party acting on behalf of the User, or if it has been used and damaged as a result of its operation or in an event it has not been intended for, or if the product is beyond the control of the customer and/or Tech It Easy. This shall also include defects caused by damage inflicted on other components after the repair has been carried out, or by errors caused by the improper use of the software or the downloaded material, or by malfunctions caused by the accidental damage or improper use of the product. Every warranty for the services or the result generated by them shall be given entirely at the discretion of Tech It Easy.' %}</p><br>
    <h3 class="text-center">{% trans '10. AMENDMENT AND ACCESS TO THE GENERAL TERMS AND CONDITIONS' %}</h3>
    <p>{% trans '10.1. The present General Terms and Conditions may be amended by the Supplier, who shall have the duty of notifying all the Users in appropriate manner.' %}</p>
    <p>{% trans 'The Supplier and the User agree that any supplement and amendment to these General Terms and Conditions shall be binding on the User in any of the following cases:' %}
    </p>
    <p>{% trans '10.1.1. as soon as the User has been explicitly notified by the Supplier, and provided the User has not declared within the 14-day period granted to him/her that he/she is rejecting the said supplements and amendments;' %}</p>
    <p>{% trans '10.1.2. following the supplements and amendments publication on the Supplier’s website, and provided the User has not declared within the 14-day period granted to him/her that he/she is rejecting the said supplements and amendments;' %}
    </p>
    <p>{% trans '10.2. The present General Terms and Conditions, along with any supplements and amendments thereto, shall be published by the Supplier at the following Internet address: www.techiteasy.biz' %}</p><br>
    <h3 class="text-center">{% trans '11. TERMINATION' %}</h3>
    <p>{% trans '11.1. These General Terms and Conditions shall be terminated in the following cases: ' %}</p>
    <p>{% trans '11.1.1. upon either of the contractual parties being declared as dissolved, liquidated or bankrupt;' %}</p>
    <p>{% trans '11.1.2. by parties’ mutual consent expressed in writing;' %}</p>
    <p>{% trans '11.1.3. should either party be objectively impeded to perform on its contractual duties;' %}</p>
    <p>{% trans '11.1.4. following state authorities’ seizure or sealing of equipment;' %}</p>
    <p>{% trans '11.2. The Supplier shall, at his own discretion, without giving an advance notice and without owing any compensation, be entitled to unilaterally terminate the contract should he find out that the User is acting in violation of these General Terms and Conditions, the legislation of the Republic of Bulgaria, the generally accepted moral norms or the generally accepted rules and practices of electronic commerce.' %}</p><br>
    <h3 class="text-center">{% trans '12. LIABILITY' %}</h3>
    <p>{% trans '12.1. Where a third party has filed a complaint stating that the services are being used in violation of the statutory norms, the rules of morality or the provisions of these General Terms and Conditions, the User shall admit that Tech It Easy shall have the right to temporarily restrict the delivery of services or User’s access to information until the case is clarified.' %}
    </p>
    <p>{% trans '12.2. Tech It Easy and the sites related to it shall not be held responsible in the event of them not being able to provide connectivity or functioning of the technical equipment for a certain period of time due to Force Majeure, accidental events, Internet problems, technical or other objective reasons, including orders issued by the competent state authorities.' %}</p>
    <p>{% trans '12.3. Tech It Easy and the sites related to it shall not be liable for damages caused by the User to third parties.' %}</p>
    <p>{% trans '12.3.1. Tech It Easy shall not bear any responsibility for pecuniary or non-pecuniary damages expressed in lost profits or damages caused to the User in the process of using or not using the services provided on the sites.' %}</p>
    <p>{% trans '12.3.2. Tech It Easy and the sites related to it shall not be held responsible for the time in which the services have not been provided to the User on the grounds of item 10.1 hereinabove.' %}</p>
    <p>{% trans '12.4. Tech It Easy and the sites related to it shall not be liable in the case where the security measures of the technical equipment, used for the delivery of services, have been breached, thus resulting in the loss, distribution of and access to information, the restriction of this access and other similar consequences.' %}</p>
    <p>{% trans '12.5. Tech It Easy and the sites related to it shall not bear any responsibility if access to information has been granted, or if the data or the parameters of the services used have been lost or changed as a result of the false identification of a third party pretending to be the User, and where judging by the circumstances, it could be concluded that the said third party is the User.' %}</p><br>
    <h3 class="text-center">{% trans '13. Other terms and conditions' %}</h3>
    <p>{% trans '13.1. The Users, Tech It Easy and the sites related to it shall be obliged to mutually defend their respective rights and legitimate interests, and shall protect the trade secrets they have become aware of in the process of implementing the signed contracts and the present General Terms and Conditions.' %}</p>
    <p>{% trans '13.2. During the terms of the contracts /services provided/ and following their expiry, the Users, Tech It Easy and the sites related to it shall be obliged not to make publicly available any verbal or written correspondence exchanged between them. Publicly available may include the publication of correspondence in print and electronic media, Internet forums, personal or public websites, etc.' %}</p>
    <p>{% trans '13.3. In the event of a conflict between these General Terms and Conditions and any arrangements made in a special agreement between Tech It Easy /the sites related to it/ and the User, the clauses of the special agreement shall prevail.' %}</p>
    <p>{% trans '13.4. During the delivery of the services offered on the sites, Tech It Easy shall be entitled to work with third parties and shall not be required to inform the Users or ask for their explicit consent.' %}</p><br>
    <h3 class="text-center">{% trans '14. Declaration of responsibility' %}</h3>
    <p>{% trans '14.1. Tech It Easy shall endeavor to ensure the accuracy of the information published on the sites, but it shall not guarantee, nor shall it be legally responsible for the accuracy of the information provided.' %}</p>
    <p>{% trans '14.2. Tech It Easy shall not be liable for the contents of any pages outside the site. The presence of a hyperlink on a certain page shall not imply that Tech It Easy has confirmed the contents of these pages or any links.' %}</p>
    <p>{% trans '14.3. Where a court or a competent authority has ruled out that some clause of the present General Terms and Conditions is invalid, illegal or unenforceable to any extent, then this clause shall be separated from the others, which shall continue to be valid to the full effect permitted by the law.' %}</p>
    <p>{% trans '14.4. Any unregulated issues associated with the performance and interpretation of the General Terms and Conditions shall be governed by the laws of the Republic of Bulgaria and the policies.' %}</p>
    <p>{% trans '14.5. Any disputes, arising from these General Terms and Conditions or related to them, that cannot be settled through goodwill negotiations held between Tech It Easy and the User shall be referred to and resolved by the competent Bulgarian court.' %}</p>
    <p>{% trans '14.6. The full content of the www.techiteasy.biz website and its related sites - www.remotedesktop.biz and www.inabox.pro – is protected by Copyright © 2020 Techiteasy Ltd. All rights reserved. Entire or partial reproduction in Bulgarian, English or another language is strictly prohibited.' %}</p>
    <p>{% trans '14.7. The present General Terms and Conditions shall become effective for all Users in September 2020.' %}</p>
    <div class="text-center mt-5"><a href="/static/files/tie_terms_and_conditions.pdf" download class="btn-download-terms hvr-bs">{% trans 'Download this' %}</a></div>
</div>

{% endblock %}